// $pale-theme: #e2adf2;
$pale-theme: #d1e6dd;
// $dark-theme: #222a68;
$dark-theme: #1d2321;
// $med-dark: #654597;
$med-dark: #6c9584;
// $med-pale: #ab81cd;
$med-pale: #d1e6dd;
$bright-theme: #574ae2;

$mint: #d1e6dd;
// $orange: #fd7e14;

// $primary: lime;

$rain: rgba(190, 197, 215, 0.7);