@import "./variables";


* {
  font-family: "Dosis", sans-serif;
  /* margin: .3rem; */
}

html,
body,
#root,
#root > div {
  min-height: 100vh;
}

#root {
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/images/sky.jpeg");
  background-size: cover;
}

.pageTitle {
  background-image: linear-gradient($pale-theme, $med-pale);
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

div.pageTitle > h1 {
  display: flex;
  text-align: center;
  padding: 0.2rem 3rem;
  /* flex-direction: row;
  color: blue; */
}

.qleft,
.qright {
  display: flex;
  /* overflow: hidden; */
}

.q1,
.q2,
.q3,
.q4,
.q5 {
  font-size: xx-large;
  padding: 0.5rem;
  animation: appear 3s ease infinite;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.q2 {
  animation-delay: 0.5s;
}

.q3 {
  animation-delay: 1s;
}

.q4 {
  animation-delay: 1.5s;
}

.q5 {
  animation-delay: 2s;
}

.btn {
  -webkit-box-shadow: -4px 0px 33px -22px $med-dark,
    4px 0px 33px -22px $med-dark, 3px 5px 35px -10px $med-dark !important;
  box-shadow: -4px 0px 33px -22px $med-dark, 4px 0px 33px -22px $med-dark,
    3px 5px 35px -10px $med-dark !important;
  margin: .5rem;
}

.btn-dark-theme {
  border: 0.08rem solid $dark-theme !important;
}

.btn-location {
  border: 0.08rem solid $med-pale !important;
  color: $med-dark !important;
}

.btn:hover {
  transform: translate(0.1rem, -0.1rem) !important;
  -webkit-box-shadow: -4px 0px 23px -17px $dark-theme,
    4px 0px 23px -17px $dark-theme, 3px 5px 25px 0px $dark-theme !important;
  box-shadow: -4px 0px 23px -17px $dark-theme, 4px 0px 23px -17px $dark-theme,
    3px 5px 25px 0px $dark-theme !important;
}



.m1-1 {
  margin: 1rem;
}

.locationsList {
  border: .2rem solid black;
}

.display {
  display: flex;
}

.toggleButton {
  max-height: 6.5rem;
  margin: 1rem 3rem;
  padding: 0;
}

.arrow {
  font-size: xx-large;
  margin: -2rem;
  padding: 0;
}
