@import "./variables";

* {
  font-family: "Dosis", sans-serif;
  /* margin: .3rem; */
}

html,
body,
#root,
#root > div {
  min-height: 100vh;
}

#root {
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/images/sky.jpeg");
  background-size: cover;
}

h2, h3 {
  padding: .5rem 0rem;
}

.pageTitle {
  background-image: linear-gradient($pale-theme, $med-pale);
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

div.pageTitle > h1 {
  display: flex;
  text-align: center;
  padding: 0.2rem 3rem;
}

.qleft,
.qright {
  display: flex;
}

.q1,
.q2,
.q3,
.q4,
.q5 {
  font-size: xx-large;
  padding: 0.5rem;
  animation: appear 3s ease infinite;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.q2 {
  animation-delay: 0.5s;
}

.q3 {
  animation-delay: 1s;
}

.q4 {
  animation-delay: 1.5s;
}

.q5 {
  animation-delay: 2s;
}

.btn {
  -webkit-box-shadow: -4px 0px 33px -22px $med-dark,
    4px 0px 33px -22px $med-dark, 3px 5px 35px -10px $med-dark !important;
  box-shadow: -4px 0px 33px -22px $med-dark, 4px 0px 33px -22px $med-dark,
    3px 5px 35px -10px $med-dark !important;
  margin: 0.5rem;
  text-transform: capitalize;
}

.btn-dark-theme {
  border: 0.08rem solid $dark-theme !important;
}

.btn-location {
  border: 0.08rem solid $med-pale !important;
  color: $med-dark !important;
}

.btn:hover:not(.toggleButton) {
  transform: translate(0.1rem, -0.1rem) !important;
  -webkit-box-shadow: -4px 0px 23px -17px $dark-theme,
    4px 0px 23px -17px $dark-theme, 3px 5px 25px 0px $dark-theme !important;
  box-shadow: -4px 0px 23px -17px $dark-theme, 4px 0px 23px -17px $dark-theme,
    3px 5px 25px 0px $dark-theme !important;
}

div.locationSearch > button {
  max-height: 2.4rem;
}

.m1-1 {
  margin: 1rem;
}

.locationSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowCard {
  margin-right: 0;
  padding: 1rem;

  -webkit-box-shadow: 0px 1px 8px 0px $dark-theme;
  box-shadow: 0px 1px 8px 0px $dark-theme !important;
  border-radius: 0.2rem;
  background-color: transparentize(#edf5fa, 0.5) !important;
}

.locations {
  display: flex;
}

// .locationTable {
//   // margin-right: 0;
//   // padding: 1rem;

//   // -webkit-box-shadow: 0px 1px 8px 0px $dark-theme;
//   // box-shadow: 0px 1px 8px 0px $dark-theme !important;
//   // border-radius: 0.2rem;
//   // background-color: transparentize(#edf5fa, 0.5) !important;
// }


.locationsMinimized {
  display: flex;
  flex-direction: column;
  height: 15.7rem;
  text-align: center;
}

.toggleButton {
  max-height: 6.5rem;
  margin-right: 3rem;
  margin-left: 0;
  padding: 0;
  border: 0 !important;
  border-radius: 0 0.5rem 0.5rem 0 !important;
  background-color: transparentize($med-pale, 0.5) !important;
  color: $dark-theme !important;
  -webkit-box-shadow: 5px 1px 10px -5px $dark-theme !important;
  box-shadow: 5px 1px 10px -5px $dark-theme !important;
}

.toggleButton:hover {
  background-color: $med-dark !important;
  color: $pale-theme !important;
}

.arrow {
  font-size: xx-large;
  margin: -2rem;
  padding: 0;
}


.display {
  display: flex;
  justify-content: left;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredText {
  text-transform: capitalize;
  font-size: xxx-large;
  font-weight: 700;
  border-bottom-style: solid;

  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(90deg, $pale-theme, $med-pale);
  padding: .5rem 2rem;
}