:root {
  --pale: #e2adf2;
  --dark: #222a68;
  --med-dark: #654597;
  --med-pale: #ab81cd;
  --bright: #574ae2;
}

* {
  font-family: "Dosis", sans-serif;
  /* margin: .3rem; */
}

html, body, #root, #root>div {
  min-height: 100vh;
}

#root {
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../public/images/sky.jpeg");
    background-size: cover;
}

.pageTitle {
  background-image: linear-gradient(var(--pale), var(--med-pale));
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

div.pageTitle > h1 {
  display: flex;
  text-align: center;
  padding: .2rem 3rem;
  /* flex-direction: row;
  color: blue; */
}

.qleft, .qright {
  display: flex;
  /* overflow: hidden; */
}

.q1, .q2, .q3, .q4, .q5 {
  font-size: xx-large;
  padding: .5rem;
  animation: appear 3s ease infinite;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}


.q2 {
  animation-delay: .5s;
}

.q3 {
  animation-delay: 1s;
}

.q4 {
  animation-delay: 1.5s;
}

.q5 {
  animation-delay: 2s;
}



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
